@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes equalizer {
  0%, 100% { height: 20px; }
  50% { height: 70px; }
}

.animate-equalizer {
  animation: equalizer 1s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}