@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* custom animations */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fadeDown 0.3s ease-out forwards;
}

@keyframes equalizer {
  0%,
  100% {
    height: 20px;
  }
  50% {
    height: 70px;
  }
}

.animate-equalizer {
  animation: equalizer 1s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-slow {
  animation: floatSlow 8s ease-in-out infinite;
}

@keyframes floatDelayed {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-delayed {
  animation: floatDelayed 7s ease-in-out infinite 1s;
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
